.Dashboard-container {
     height: 100%;
     display: grid;
     grid-template-columns: repeat(6, 1fr);
     grid-template-rows: repeat(6, 1fr);
     color: #226900;
 }

 .Dashboard-header {
     grid-area: 1 / 1 / 2 / 6;
     overflow: hidden;
     margin-top: 2%;
     width: 80vw;
     line-height: 1rem;
 }

 .Class-container {
     width: 100%;
     grid-area: 2 / 1 / 7 / 6;
     padding-left: 2vh;
     display: block;
  }

 .Account-container {
     display: flex;
     flex-direction: column;
     justify-self: right;
     align-items: left;
     background-color: #226000;
     width: 9rem;
     height: 100%;
     position: fixed;
     -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
     transition: 0.3s;
 }

 .Account-container:hover {
     width: 10rem;
     background-color: #226900;
 }

.Account-item {
      height: 50px;
      width: 122px;
      margin-left: 10%;
      margin-top: 10px;
      align-items: center;
      justify-content: center;
      border-radius: 15px;
 }

 h1 {
    width: 97%;
    text-align: left;
    font-weight: bold;
    font-size: 4vh;
    border-bottom: 2px solid #226900;
    line-height: 0.1em;
 }

 h1 span {

     padding: 3%;
     background-color: white;
 }

 .Class-box {
     position: relative;
     float: left;
     background-color: #226900;
     color: white;
     width: 25vh;
     height: 25vh;
     margin-left: 2vw;
     margin-right: 2vw;
     margin-bottom: 4vw;
     border-radius: 3vh;
     margin-top: 2.5vh;
     overflow: hidden;
     box-shadow: .5vh .5vh 1vh lightslategray;
     -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
     transition: 0.3s;
 }

 .Class-option {
     position: absolute;
     float: right;
     color: white;
     font-size: 3vh;
     margin-left: 27%;
     margin-top: .5vh;
     background-color: transparent ;
     border: none;
 }

.Class-box:hover {
    background-color: #245E16;
    box-shadow: .5vh .5vh 1vh slategray;
}

 .Class-box:active {
     -webkit-transform: scale(0.9);
     transform: scale(0.9);
 }

 .Class-title {
     position: absolute;
     width: 25vh;
     height: 10vh;
     margin-top: 15vh;
     padding-right: 20vh;
     background-color: white;
     color: #226900;
     font-size: 2.4vh;
     text-align: left;
     padding-left: 2vh;
     padding-top: 1vh;

 }

 .Class-title span {
     font-size: 2vh;
     font-weight: lighter;
     font-style: italic;
 }

 .Add-class-box {
     position: relative;
     float: left;
     background-color: lightgrey;
     color: white;
     width: 25vh;
     height: 25vh;
     margin-left: 2vw;
     margin-right: 2vw;
     margin-bottom: 2vw;
     border-radius: 2vh;
     border: none;
     margin-top: 2.5vh;
     overflow: hidden;
     font-size: 13vh;
     -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
     transition: 0.3s;
 }

 .Add-class-box:active {
     -webkit-transform: scale(0.9);
     transform: scale(0.9);
 }

 .Add-class-box:hover {
    background-color: grey;
}

.logout-button {
    display: block;
    width: 62px;
    height: 17px;
    background-color: white;
    color: #226900;
    padding: 16px 30px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 15px;
    margin-left: -6px;
    margin-top: -3px;
}